# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
db.sqlite3-journal
media/

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
tech_stack.md
project_requirements.md
project_files/
